/*SNAP CSS*/
body{
    background-color:#eee;
}
snap-content,
[snap\:content],
[snap-content],
[data-snap-content],
[x-snap-content],
.snap-content,
.x-snap-content,
snap-drawers,
[snap\:drawers],
[snap-drawers],
[data-snap-drawers],
[x-snap-drawers],
.snap-drawers,
.x-snap-drawers,
.snap-drawers,
.snap-content {
    position: fixed;
    height: auto;
    top: 0;
    bottom: 0;
    width: auto;
    left: 0;
    right: 0;
}
snap-drawer,
[snap\:drawer],
[snap-drawer],
[data-snap-drawer],
[x-snap-drawer],
.snap-drawer,
.x-snap-drawer,
.snap-drawer {
    position: fixed;
    height: auto;
    top: 0;
    bottom: 0;
    overflow: auto;
    -webkit-transition: top 0.2s linear;
    -moz-transition: top 0.2s linear;
    -o-transition: top 0.2s linear;
    transition: top 0.2s linear;
    -webkit-transition: bottom 0.2s linear;
    -moz-transition: bottom 0.2s linear;
    -o-transition: bottom 0.2s linear;
    transition: bottom 0.2s linear;
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    -o-overflow-scrolling: touch;
    overflow-scrolling: touch;
    width: 266px;
    background-color:#333;
}
.snap-content {
    z-index: 2;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    -o-overflow-scrolling: touch;
    overflow-scrolling: touch;
    background-color:#EEE;
    -webkit-box-shadow: 0 -30px 15px 0 rgba(0,0,0,.5);
    box-shadow: 0 -30px 15px 0 rgba(0,0,0,.5);
    transition:margin 300ms;
    height:100%;
    overflow:hidden;
}
.snap-drawer-left {
    left: 0;
    z-index: 1;
    display:none;
}
.snap-drawer-right {
    right: 0;
    z-index: 1;
    display:none;
}
.snapjs-left .snap-drawer-left,
.snapjs-right .snap-drawer-right {
    display: inline;
}
.snapjs-expand-left .snap-drawer-left,
.snapjs-expand-right .snap-drawer-right {
    width: 100%;
}
.snap-drawer h4{
    font-size:16px;
    background-color:#FFF;
    margin:0;
    padding:17px 0 18px;
    border-bottom:1px solid #DDD;
}
.snap-drawer-list ul{
    list-style: none;
    padding:0;
}
.snap-drawer-list li{
    border-top:1px solid #444;
    border-bottom:1px solid #222;
    padding:10px 15px;
}
.snap-drawer-list li ul{
    margin-left:-15px;
    margin-right:-15px;
}
.snap-drawer-list li ul li{
    background-color: #262626;
    border-top-color:#363636;
    border-bottom-color:#161616;
}
.snap-drawer-list li ul li:first-of-type{
    margin-top:9px;
    border-top-color:#444;
}
.snap-drawer-list li ul li:last-of-type{
    margin-bottom:-11px;
}
.snap-drawer-list a{
    color:#359FD5;
    display:block;
}
.snap-drawer-list a:hover,
.snap-drawer-list a.active{
    color:#FFF;
    text-decoration: none;
}
.snap-drawer-list li.active a:hover{
    color:#FFF;
    display:block;
}
.navbar{
    min-height:60px;
}
.jumbotron {
    margin-bottom:0;
}
.container-content {
    margin-top: 15px;
}