/* x-lg */
@media (min-width: 1200px) {
    body.snapjs-left .snap-content{
        margin-right:266px;
        transition:margin 300ms;
    }
    body.snapjs-right .snap-content{
        margin-left:266px;
        transition:margin 300ms;
    }
}